accelerate
codetiming
datasets
dotenv
einops
google-genai  # for gemini api
gradio
huggingface_hub
imageio
ipdb
json_repair
liger-kernel
mathruler
matplotlib
nltk
numpy
omegaconf
openai
opencv-python>=4.7.0.72
openpyxl
pandas
peft
pillow
portalocker
protobuf
pyarrow>=15.0.0
pylatexenc
python-dotenv
qwen-vl-utils
ray[default]
requests
rich
sentencepiece
setuptools
sty
sympy
tabulate
tensordict
tiktoken
timeout-decorator
timm
torch
torchdata
torchvision
tqdm
transformers>=4.51.0
typing_extensions
vllm>=0.8.0
validators
wandb
xlsxwriter